# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code folder (optional)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Flutter Desktop generated plugin files
**/linux/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugin_registrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*
**/generated_plugins.cmake

# Flutter desktop build folders
/linux/build/
/windows/build/
/macos/Flutter/Flutter.framework
/macos/Flutter/Flutter.podspec
